In [331]:
#import pandas, numpy modules
import pandas as pd
import numpy as np

In [332]:
#Create file path variable
Heroes_file = "Resources/purchase_data.csv"
#read the csv file with pd.read_csv()
Heroes_file_pd = pd.read_csv(Heroes_file)

#print the first five rows of the file to see what it looks like
Heroes_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [333]:
#Total Number of Players: .count() to count the number of unique values,.nunique(), in 'SN' column
Unique_Players = Heroes_file_pd.groupby('SN')['SN'].nunique()
Total_Players = Unique_Players.count()

#Build DataFrame: Total_Players_df
Total_Players_df = pd.DataFrame(player_count, columns=['Total Players'])

#Return DataFrame
Total_Players_df

   Total Players
0            576

In [334]:
#Purchase Analysis: Number of unique items, Average purchase price, total number of purchases, total revenue


#Number of Unique Items: .count() to count the number of unique values,.nunique(), in 'SN' column
Items = Heroes_file_pd.groupby('Item Name')['Item Name'].nunique()
Items_Unique = Items.count()

#Average purchase price: find the mean of the price column
Avg_Price = Heroes_file_pd['Price'].mean()

#Total Revenue: sum price column
Total_Revenue = Heroes_file_pd['Price'].sum()

#Total Number of Purchases: Find out how many columns there are in the DataFrame, use len(pass dataframe in here)
Total_Purchases = len(Heroes_file_pd)

#Create a DataFrame: Purchase_Analysis_df
Purchase_Analysis = pd.DataFrame({"Number of Unique Items": [Items_Unique], 
                                     "Average Purchase Price": Avg_Price, 
                                     "Number of Purchases": [Total_Purchases],
                                     "Total Revenue": Total_Revenue
                                    })

#Map DataFrame: Purchase_Analysis_df
#Purchase_Analysis['Average Purchase Price']= Purchase_Analysis['Average Purchase Price'].astype(float).map("${:.2f}".format)

#Purchase_Analysis['Total Revenue']= Purchase_Analysis['Total Revenue'].astype(float).map("${:.2f}".format)

#Return DataFrame: Purchase_Analysis
Purchase_Analysis

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [335]:
#Gender Population Analysis: Find count and percentages of all Gender types

#Find the Gender Counts: use .nunique()
gender_count = Heroes_file_pd.groupby('Gender').SN.nunique()
gender_count

#Convert the Gender Counts to percentages: gender_count divided by Total Players, use .astype() to convert to string
#and concatenate '%'
gender_decimal = round(gender_count/Total_Players * 100,1)
gender_percentages = gender_decimal.astype(str) + '%'

#Create DataFrame: Gender_Population_Analysis
Gender_Population_Analysis = pd.DataFrame({"Total Count": gender_count,
                                           "Percentage of Players": gender_percentages  
                              })
#Return DataFrame: Gender_Analysis
Gender_Population_Analysis

                       Total Count Percentage of Players
Gender
Female                          81                 14.1%
Male                           484                 84.0%
Other / Non-Disclosed           11                  1.9%

In [336]:
#Purchase Analysis: Number of Purchases by Gender
gender_purchases = (Heroes_file_pd.groupby('Gender')['Item Name']).count()
gender_purchases

#Average spent by each Gender Group: .mean()
gender_decimal = Heroes_file_pd.groupby('Gender').Price.mean()
gender_average = gender_decimal.round(2)
gender_average

#Total Purchases by each Gender Group: .sum()
gender_totals = Heroes_file_pd.groupby('Gender').Price.sum()
gender_totals

#Normalize the Purchases: gender_totals/gender_count
gender_totals_normalized = (gender_totals/gender_count)

#Create DataFrame: Gender_Analysis
gender_analysis = pd.DataFrame({"Purchase Count": gender_purchases,
                                "Average Purchase Price": gender_average,
                                "Total Purchase Value": gender_totals,
                                "Average Total Purchase per Person": gender_totals_normalized
                                })

#Map: Average Purchase Price, Total Purchase Value and Average Total Purchase per Person

#gender_analysis['Average Purchase Price'] = gender_analysis['Average Purchase Price'].astype(float).map("${:.2f}".format)
#gender_analysis['Total Purchase Value']= gender_analysis['Total Purchase Value'].astype(float).map("${:.2f}".format)
#gender_analysis['Average Total Purchase per Person']= gender_analysis['Average Total Purchase per Person'].astype(float).map("${:.2f}".format)

#Return DataFrame: gender_analysis
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.468395
Male,652,3.02,1967.64,4.065372
Other / Non-Disclosed,15,3.35,50.19,4.562727

In [337]:
#Purchase Analysis by Age Groups

#Have to create bins (categories), to segment the age data
age_bins = [0,10,15,20,25,30,35,40,45]
age_ranges = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','>=40' ]

#Cut Heroes_file_pd and place the ages into bins
pd.cut(Heroes_file_pd['Age'], age_bins, labels=age_ranges)

#Add the Age ranges as a new column to the original DataFrame
Heroes_file_pd['Age Range'] = pd.cut(Heroes_file_pd['Age'], age_bins, labels=age_ranges)

#Total Count of Purchases by Age Categories (bins)
Age_Counts = Heroes_file_pd.groupby('Age Range')['Item Name'].count()


#Player purchase percentages by Age Cateogries
Age_Percentage = round(Heroes_file_pd['Age Range'].value_counts()/Total_Purchases, 2) * 100
#Age_Percentage

#Player Average Purchase Price by Age Categories
Age_Purchase_Avg = round(Heroes_file_pd.groupby('Age Range').Price.mean(),2)

#Total Purchase Value by Age Cateogries
Age_Total_Purchase_Value = Heroes_file_pd.groupby('Age Range').Price.sum()
#Age_Total_Purchase_Value

#Average Total Purchase per Person by Age Categories
Age_Avg_Total = round(Age_Total_Purchase_Value/Total_Players,2) * 100
#Age_Avg_Total

#Create DataFrame: Age_Purchase_Analysis
Age_Purchase_Analysis = pd.DataFrame({"Purchase Count": Age_Counts,
                                      "Average Purchase Price": Age_Purchase_Avg,
                                      "Total Purchase Value": Age_Total_Purchase_Value,
                                      "Average Total Purchase per Person": Age_Avg_Total
                                     })

#Map DataFrame: Age_Purchase_Analysis
#Age_Purchase_Analysis['Average Purchase Price'] = Age_Purchase_Analysis['Average Purchase Price'].astype(float).map("${:.2f}".format)
#Age_Purchase_Analysis['Total Purchase Value'] = Age_Purchase_Analysis['Total Purchase Value'].astype(float).map("${:.2f}".format)
#Age_Purchase_Analysis['Average Total Purchase per Person'] = Age_Purchase_Analysis['Average Total Purchase per Person'].astype(float).map("${:.2f}".format)


#Return the DataFrame: Age_Purchase_Analysis
Age_Purchase_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Range,,,,
<10,32,3.40,108.96,19.0
10-14,54,2.90,156.60,27.0
15-19,200,3.11,621.56,108.0
20-24,325,3.02,981.64,170.0
25-29,77,2.88,221.42,38.0
30-34,52,2.99,155.71,27.0
35-39,33,3.40,112.35,20.0
>=40,7,3.08,21.53,4.0

In [338]:
#Top Spenders

#Retrieve spenders by their screen name
Spenders_Count = Heroes_file_pd.groupby('SN').Price.count()
Spenders_Count

#Average Purchase price of each spender
Spenders_avg_purchase = Heroes_file_pd.groupby('SN').Price.mean()
Spenders_avg_purchase

#Total spent by each spender
Spenders_Total_Spent = Heroes_file_pd.groupby('SN').Price.sum()
Spenders_Total_Spent

#Create DataFrame: Spenders_Analysis
Spenders_Analysis = pd.DataFrame({"Purchase Count": Spenders_Count,
                                  "Average Purchase Price": Spenders_avg_purchase,
                                  "Total Purchase Value": Spenders_Total_Spent
                                 })


#Top 5 spenders: .sort_values(), set ascending to False
Top_5_Spenders = Spenders_Analysis.sort_values("Total Purchase Value", ascending=False)

#Use map to format Average purchase price and total purchase value columns

#Top_5_Spenders['Average Purchase Price'] = Top_5_Spenders['Average Purchase Price'].astype(float).map("${:,.3}".format)
#Top_5_Spenders['Total Purchase Value'] = Top_5_Spenders['Total Purchase Value'].astype(float).map("${:,.3}".format)

#Return Top_5_Spenders
Top_5_Spenders.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [339]:
#Items Analysis and Most Popular Items

#See which Items were purchased
items_purchase_sr = Heroes_file_pd.groupby(['Item ID', 'Item Name']).Price.count()

#Average purchase price
items_avg_price_sr = Heroes_file_pd.groupby(['Item ID', 'Item Name']).Price.mean() 

#Total value of purchases by Item
items_total_value_sr = Heroes_file_pd.groupby(['Item ID', 'Item Name']).Price.sum()

#Create DataFrame: Items_Analysis
items_analysis = pd.DataFrame({'Purchase Count': items_purchase_sr,
                               'Item Price': items_avg_price_sr,
                               'Total Purchase Value': items_total_value_sr
                              })

#Create DataFrame: Most Popular Items
most_popular_items = items_analysis.sort_values('Purchase Count',ascending=False)

#Map DataFrame: Most Popular Items
#most_popular_items['Item Price'] = most_popular_items['Item Price'].astype(float).map("${:.4}".format)
#most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].astype(float).map("${:.4}".format)

#Return DataFrame: most_popular_map
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [340]:
#Most profitable Items:sort by Total Purchase Value

#create DataFrame: most_profitable_items, sort it
most_profitable_items = items_analysis.sort_values('Total Purchase Value', ascending=False)


#map DataFrame
#most_profitable_items['Item Price'] = most_profitable_items['Item Price'].astype(float).map("${:.4}".format)
#most_profitable_items['Total Purchase Value'] = most_profitable_items['Total Purchase Value'].astype(float).map("${:.4}".format)

#return Top 5 most Profitable Items
most_profitable_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80