In [2]:
#import pandas, numpy modules
import pandas as pd
import numpy as np

In [53]:
#Create file path variable
Heroes_file = "Resources/purchase_data.csv"
#read the csv file with pd.read_csv()
Heroes_file_pd = pd.read_csv(Heroes_file)

#print the first five rows of the file to see what it looks like
Heroes_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [66]:
#Total Number of Players: .count() to count the number of unique values,.nunique(), in 'SN' column
Unique_Players = Heroes_file_pd.groupby('SN')['SN'].nunique()
Total_Players = Unique_Players.count()

#Build DataFrame: Total_Players_df
Total_Players_df = pd.DataFrame(player_count, columns=['Total Players'])

#Return DataFrame
Total_Players_df

   Total Players
0            576

2379.77

In [75]:
#Purchase Analysis: Number of unique items, Average purchase price, total number of purchases, total revenue


#Number of Unique Items: .count() to count the number of unique values,.nunique(), in 'SN' column
Items = Heroes_file_pd.groupby('Item Name')['Item Name'].nunique()
Items_Unique = Items.count()

#Average purchase price: find the mean of the price column
Avg_Price = round(Heroes_file_pd['Price'].mean(),2)

#Total Revenue: sum price column
Total_Revenue = round(Heroes_file_pd['Price'].sum(),2)

#Total Number of Purchases: Find out how many columns there are in the DataFrame, use len(pass dataframe in here)
Total_Purchases = len(Heroes_file_pd)

#Create a DataFrame: Purchase_Analysis_df
Purchase_Analysis_df = pd.DataFrame({"Number of Unique Items": [Items_Unique], 
                                     "Average Purchase Price": f"${Avg_Price}", 
                                     "Total Purchases": [Total_Purchases],
                                     "Total Revenue": f"${Total_Revenue}"
                                    })

#Return DataFrame: Purchase_Analysis_df
Purchase_Analysis_df

,Number of Unique Items,Average Purchase Price,Total Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [97]:
#Purchasing Analysis based upon gender: Find count and percentages of all Gender types

#Find the Gender Counts: use .nunique()
gender_count = Heroes_file_pd.groupby('Gender')['SN'].nunique()
gender_count

#Convert the Gender Counts to percentages: gender_count divided by Total Players
gender_percentages = (round((gender_count/Total_Players) * 100),2)
print(gender_percentages)

#Create DataFrame: Gender_Analysis
Gender_Analysis = pd.DataFrame(gender_count)
#Return DataFrame: Gender_Analysis
Gender_Analysis

(Gender
Female                   14.0
Male                     84.0
Other / Non-Disclosed     2.0
Name: SN, dtype: float64, 2)

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [ ]:
#Age Demograhpics: count and percentage of players dependent upon their age

In [ ]:
#Purchasing Analysis based upon age

In [ ]:
#Top Spenders

In [ ]:
#Most popular items

In [ ]:
#Most profitable items