In [43]:
#import pandas, numpy
import pandas as pd
import numpy as np

In [21]:
#Create file path variable
Heroes_file = "Resources/purchase_data.csv"


#read the csv file with pd.read_csv()
Heroes_file_pd = pd.read_csv(Heroes_file)
#print the first five rows of the file
Heroes_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [109]:
#Get the number of players using .nunique
player_count =[ Heroes_file_pd['SN'].nunique()]

Total_Players = pd.DataFrame(player_count, columns=['Total Players'])
Total_Players

   Total Players
0            576

In [147]:
#Calculcate Purchasing Analysis: Number of purchases, AVerage price, Number of Unique items and total revenue 
purchases = [Heroes_file_pd['SN'].count()]

#count unique items by 'Item Name'
Items = [Heroes_file_pd["Item Name"].nunique()]

#Find the average purchase price for all purchases, be up to date please
avg_price = round(Heroes_file_pd["Price"].mean(),2)

#Total Revenue
Total_Revenue = Heroes_file_pd['Price'].sum()

#Create a Dictionary, Keys are column names and values are rows
Analysis_dict = {"Number of Unique Items": Items,"Average Price": f"${avg_price}","Number of Purchases": purchases,  
                  "Total Revenue": f"${Total_Revenue}"                
                }

#Turn dictionary into DataFrame
Purchasing_Analysis = pd.DataFrame(Analysis_dict)
#print the dataframe
Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [ ]:
#Gender Demographics: Percentage and count of all genders

In [148]:
#Purchasing Analysis based upon gender

In [ ]:
#Age Demograhpics: count and percentage of players dependent upon their age

In [149]:
#Purchasing Analysis based upon age

In [150]:
#Top Spenders

In [151]:
#Most popular items

In [152]:
#Most profitable items