In [127]:
#import pandas, numpy modules
import pandas as pd
import numpy as np

In [128]:
#Create file path variable
Heroes_file = "Resources/purchase_data.csv"
#read the csv file with pd.read_csv()
Heroes_file_pd = pd.read_csv(Heroes_file)

#print the first five rows of the file to see what it looks like
Heroes_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [129]:
#Total Number of Players: .count() to count the number of unique values,.nunique(), in 'SN' column
Unique_Players = Heroes_file_pd.groupby('SN')['SN'].nunique()
Total_Players = Unique_Players.count()

#Build DataFrame: Total_Players_df
Total_Players_df = pd.DataFrame(player_count, columns=['Total Players'])

#Return DataFrame
Total_Players_df

   Total Players
0            576

In [151]:
#Purchase Analysis: Number of unique items, Average purchase price, total number of purchases, total revenue


#Number of Unique Items: .count() to count the number of unique values,.nunique(), in 'SN' column
Items = Heroes_file_pd.groupby('Item Name')['Item Name'].nunique()
Items_Unique = Items.count()

#Average purchase price: find the mean of the price column
Avg_Price = '$' + str(round(Heroes_file_pd['Price'].mean(),2))

#Total Revenue: sum price column
Total_Revenue = '$' + str(round(Heroes_file_pd['Price'].sum(),2))

#Total Number of Purchases: Find out how many columns there are in the DataFrame, use len(pass dataframe in here)
Total_Purchases = len(Heroes_file_pd)

#Create a DataFrame: Purchase_Analysis_df
Purchase_Analysis_df = pd.DataFrame({"Number of Unique Items": [Items_Unique], 
                                     "Average Purchase Price": Avg_Price, 
                                     "Number of Purchases": [Total_Purchases],
                                     "Total Revenue": Total_Revenue
                                    })

#Return DataFrame: Purchase_Analysis_df
Purchase_Analysis_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [153]:
#Gender Population Analysis: Find count and percentages of all Gender types

#Find the Gender Counts: use .nunique()
gender_count = Heroes_file_pd.groupby('Gender')['SN'].nunique()
gender_count

#Convert the Gender Counts to percentages: gender_count divided by Total Players, use .astype() to convert to string
#and concatenate '%'
gender_decimal = round(gender_count/Total_Players * 100,3)
gender_percentages = gender_decimal.astype(str) + '%'

#Create DataFrame: Gender_Population_Analysis
Gender_Population_Analysis = pd.DataFrame({"Total Count": gender_count,
                                           "Percentage of Players": gender_percentages  
                              })
#Return DataFrame: Gender_Analysis
Gender_Population_Analysis

                       Total Count Percentage of Players
Gender
Female                          81               14.062%
Male                           484               84.028%
Other / Non-Disclosed           11                 1.91%

In [150]:
#Purchase Analysis: Number of Purchases by Gender
gender_purchases = (Heroes_file_pd.groupby('Gender')['Item Name']).count()
gender_purchases

#Average spent by each Gender Group: .mean()
gender_decimal = Heroes_file_pd.groupby('Gender')['Price'].mean()
gender_average = '$'+ (gender_decimal.round(2)).astype(str) 
gender_average

#Total Purchases by each Gender Group: .sum()
gender_totals = round(Heroes_file_pd.groupby('Gender')['Price'].sum(),2)
gender_totals

#Normalize the Purchases: gender_totals/gender_count
gender_totals_normalized = '$' + (round((gender_totals/gender_count),2)).astype(str)

#Create DataFrame: Gender_Analysis
gender_analysis = pd.DataFrame({"Purchase Count": gender_purchases,
                                "Average Purchase Price": gender_average,
                                "Total Purchase Value": '$' + gender_totals.astype(str),
                                "Avg Total Purchase per Person": gender_totals_normalized
                                
                              })
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [156]:
#Age Demograhpics: count and percentage of players dependent upon their age

#Have to create bins (categories), to segment the age data
age_bins = [0,10,15,20,25,30,35,40,45]
age_ranges = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','>=40' ]

#Cut Heroes_file_pd and place the ages into bins
pd.cut(Heroes_file_pd['Age'], age_bins, labels=age_ranges)

#Add the Age ranges as a new column to the original DataFrame
Heroes_file_pd['Age Range'] = pd.cut(Heroes_file_pd['Age'], age_bins, labels=age_ranges)

#Print the head of Heroes_file_pd to check on the new column 'Age Range'
Heroes_file_pd.head()

ValueError: Bin labels must be one fewer than the number of bin edges

In [ ]:
#Purchasing Analysis based upon age

In [ ]:
#Top Spenders

In [ ]:
#Most popular items

In [ ]:
#Most profitable items