In [2]:
#import pandas, numpy
import pandas as pd
import numpy as np

In [3]:
#Create file path variable
Heroes_file = "Resources/purchase_data.csv"


#read the csv file with pd.read_csv()
Heroes_file_pd = pd.read_csv(Heroes_file)
#print the first five rows of the file
Heroes_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Get the number of players using .nunique
player_count =[ Heroes_file_pd['SN'].nunique()]

Total_Players = pd.DataFrame(player_count, columns=['Total Players'])
Total_Players

   Total Players
0            576

In [41]:
#Calculcate Purchasing Analysis: Number of purchases, AVerage price, Number of Unique items and total revenue 

#Number of Purchases: count of'SN' column
Purchases_count = len(Heroes_file_pd['SN'])
#print(Purchases_count)

#count unique items by 'Item Name'

Items = Heroes_file_pd['Item Name'].nunique()
#print(Items)

#Find the average purchase price for all purchases, be up to date please

avg_price = f"${round(Heroes_file_pd['Price'].mean(),2)}"
#print(avg_price)

#Total Revenue

Total_Revenue = f"${Heroes_file_pd['Price'].sum()}"
#print(Total_Revenue)

#Create a Dictionary, Keys are column names and values are rows
             
Analysis_Dict = {
                "Number of Unique Items": [Items],
                "Average Price": f"${avg_price}",
                "Number of Purchases": [Purchases_count],
                "Total Revenue": f"${Total_Revenue}"
                }
#print(Analysis_Dict)

#Turn dictionary into DataFrame
Purchase_Analysis_df = pd.DataFrame([[Items, avg_price, Purchases_count, Total_Revenue]],)

#rename the columns
Purchase_Analysis_rename = Purchase_Analysis_df.rename(columns={0:"Number of Unique Items",
                                                                1: "Average Price",
                                                                2: "Number of Purchases",
                                                                3: "Total Revenue"})

#print the dataframe
print(Purchase_Analysis_rename)

   Number of Unique Items      1    2         3
0                     179  $3.05  780  $2379.77

In [ ]:
#Gender Demographics: Percentage and count of all genders

Heroes_file_pd

In [ ]:
#Purchasing Analysis based upon gender

In [ ]:
#Age Demograhpics: count and percentage of players dependent upon their age

In [ ]:
#Purchasing Analysis based upon age

In [ ]:
#Top Spenders

In [ ]:
#Most popular items

In [ ]:
#Most profitable items